html,
body {
  height: 100%;
  font-size: 14px;
}

input, textarea, 
input:focus, textarea:focus,
input:focus-visible, textarea:focus-visible
 {
  border-color: transparent;
  outline-style: none; 
  box-shadow: none; 
  border-color: transparent;
}

h1 {
  margin: 0;
}